<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/style.min.css" rel="stylesheet" />
</head>



<body>



    <!-- Content -->
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Erkapić Luka</p>
        </footer>
    </div>
    <!-- 
    Scripts.Render("~/bundles/jquery")
    Scripts.Render("~/bundles/bootstrap")
    Scripts.Render("scripts")-->
    
    <!-- Angular and dependencies 
    Scripts.Render("~/Scripts/angular.js")
    Scripts.Render("~/Scripts/angular-route.js")-->

    <!-- Modules -->
    @Scripts.Render("~/app/mainModule.js")

    <!-- Services -->
    @Scripts.Render("~/app/services/getRouteProvider.service.js")
    @Scripts.Render("~/app/services/postRouteProvider.service.js")

    <!-- Navigation -->
    @Scripts.Render("~/app/navigation/navTabs.directive.js")
    @Scripts.Render("~/app/navigation/navigation.controller.js")

    <!-- Game -->
    @Scripts.Render("~/app/game/game.controller.js")
    @Scripts.Render("~/app/game/game.service.js")

    <!-- Publisher -->
    @Scripts.Render("~/app/publisher/publisher.controller.js")
    @Scripts.Render("~/app/publisher/publisher.service.js")

</body>
</html>
