<!DOCTYPE html>
<html>
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/style.min.css" rel="stylesheet" />
</head>



<body>



    <!-- Content -->
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Erkapić Luka</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("scripts")

    <!-- Angular and dependencies -->
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/angular-route.js")

    <!-- Modules -->
    @Scripts.Render("~/app/mainModule.js")

    <!-- Controllers -->
    @Scripts.Render("~/app/controllers/NavigationController.js")
    @Scripts.Render("~/app/controllers/PublisherController.js")
    @Scripts.Render("~/app/controllers/GameController.js")

    <!-- Directives -->
    @Scripts.Render("~/app/directives/navTabsDirective.js")

    <!-- Services -->
    @Scripts.Render("~/app/services/getFactory.js")
</body>
</html>
